<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-shivu-learning-01-d2bbbyd7bgfadsfw.centralindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/83602698-b6ff-40a2-be94-cd19e2e5a1de/resourceGroups/Practice-Resource-01/providers/Microsoft.Web/sites/Func-Shivu-Learning-01</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://func-shivu-learning-01-d2bbbyd7bgfadsfw.scm.centralindia-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>